<footer class="short" id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h4>About John <strong>Elder</strong></h4>
							<p align="justify">John is a Web Developer, Internet Marketer, Author, and Entrepreneur with over <%= Time.now.year - 1997 %> years experience building and running successful tech startups, with several successful exits under his belt.  Today he's building Codemy.com to teach people to code online using a blend of instructional videos and hands on help... <br/><a href="http://www.JohnElder.org" class="btn-flat btn-xs">View More <i class="fa fa-arrow-right"></i></a></p>
							<hr class="light">
						</div>
						<div class="col-md-3 col-md-offset-1">
							
							
							<div class="social-icons">
								<ul class="social-icons">
									<li class="facebook"><a href="http://www.facebook.com/codemycom" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a></li>
									<li class="twitter"><a href="https://twitter.com/flatplanet" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a></li>
									<li class="linkedin"><a href="http://www.linkedin.com/pub/john-elder/55/a31/493" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							
							<div class="col-md-12">
								<p>Copyright &copy; John Elder - All Rights Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
	
		</div>

		<!-- Vendor -->
		<script src="https://cdn.johnelder.org/vendor/jquery/jquery.js"></script>
		<script src="http://cdn.johnelder.org/vendor/jquery.appear/jquery.appear.js"></script>
		<script src="http://cdn.johnelder.org/vendor/jquery.easing/jquery.easing.js"></script>
		<script src="http://cdn.johnelder.org/vendor/jquery-cookie/jquery-cookie.js"></script>
		<script src="http://cdn.johnelder.org/vendor/bootstrap/bootstrap.js"></script>
		<script src="http://cdn.johnelder.org/vendor/common/common.js"></script>
		<script src="http://cdn.johnelder.org/vendor/jquery.validation/jquery.validation.js"></script>
		<script src="http://cdn.johnelder.org/vendor/jquery.stellar/jquery.stellar.js"></script>
		<script src="http://cdn.johnelder.org/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="http://cdn.johnelder.org/vendor/jquery.gmap/jquery.gmap.js"></script>
		<script src="http://cdn.johnelder.org/vendor/isotope/jquery.isotope.js"></script>
		<script src="http://cdn.johnelder.org/vendor/owlcarousel/owl.carousel.js"></script>
		<script src="http://cdn.johnelder.org/vendor/jflickrfeed/jflickrfeed.js"></script>
		<script src="http://cdn.johnelder.org/vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="http://cdn.johnelder.org/vendor/vide/vide.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="http://cdn.johnelder.org/js/theme.js"></script>
		
		
		<!-- Theme Custom -->
		<script src="http://cdn.johnelder.org/js/custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="http://cdn.johnelder.org/js/theme.init.js"></script>


		
